<tr class="clickable-row" data-toggle="collapse" data-target="#item_fixture{{ item.fixture.id }}">
  <td scope="row">
    <i class="symbol fas fa-chevron-down fa-1x"></i>
  </td>
  <td>{{ item.fixture.fixture_round }}</td>
  <td>{{ item.fixture.team_A.get_name_display }}</td>
  <td>{{ item.fixture.team_B.get_name_display }}</td>
  <td>
    {% if item.prediction == 'A' %}
    {{ item.fixture.team_A.get_name_display }}
    {% elif item.prediction == 'B' %}
    {{ item.fixture.team_B.get_name_display }}
    {% elif item.prediction == 'D' %}
    Draw
    {% endif %}
  </td>
</tr>
<tr class="text-left">
  <td colspan="5" scope="row">
    <div class="accordion-body collapse m-2" id="item_fixture{{ item.fixture.id }}">
      <b>Date: </b>{{ item.fixture.datetime|date:"jS F Y, g:i a" }} <br>
      <b>Location: </b>{{ item.fixture.get_location_display }}
    </div>
  </td>
</tr>