{% extends 'gameplay/base.html' %}
{% block title %}
{% with title="Reset Password" %}
{{ block.super }}
{% endwith%}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card card-body">

      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Reset Password</legend>
          <small>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</small>
          <br><br>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Send</button>
          <input class="btn btn-outline-danger ml-2" type=button value="Cancel" onClick="javascript:history.go(-1);">
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock content %}