/* ***************************************************** */
/*
/* SETUP
/*
/* ***************************************************** */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Variables (fonts imported in link in the base template) */
:root {
  --font-01: 'Raleway', sans-serif;
  --font-02: 'Roboto', sans-serif;
  --background-color-01: #a83434;
  --background-color-02: #c5cbd3;
  --background-color-03: #9bf7d8;
  --symbol-color-01: #6a9ddf;
  --symbol-color-02: #415f86;
  --line-color-01: #ebeffb;
  --row-hover-color-01: #e1ebf8;
}



/* ***************************************************** */
/*
/* GENERAL STYLE
/*
/* ***************************************************** */

body {
  font-family: var(--font-02);
  background-color: var(--background-color-01);
}

hr {
  background-color: var(--symbol-color-01);
}

.background-color-03 {
  background-color: var(--background-color-03);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 10px;
  font-size: 0.8em;
  background-color: var(--background-color-02);
}

.centered {
  float: none;
  margin: 0 auto;
}

.card-body {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  /* make cards have horizontal scrolling */
  overflow-x: auto;
}


/* ***************************************************** */
/*
/* TEXT STYLE
/*
/* ***************************************************** */

.text-small {
  font-size: 13px;
}



/* ***************************************************** */
/*
/* TABLE STYLE
/*
/* ***************************************************** */

table {
  display: table;
  white-space: nowrap;
  width: 100%;
  border-collapse: collapse;
}

/* on tables with hover class, rows are clickable and should have a pointer */
/* table.table-hover tbody tr.row-hover:hover {
  cursor: pointer;
} */

/* give each row a top border */
/* tr.table_row_border_top td {
  border-top: 1px solid var(--line-color-01);
} */

.clickable-row td {
  border-top: 1px solid var(--line-color-01);
}

.clickable-row:hover {
  background-color: var(--row-hover-color-01);
  cursor: pointer;
}

/* tr.clickable-row:hover {
  background-color: var(--row-hover-color-01);
} */

/* ***************************************************** */
/*
/* SYMBOL STYLE
/*
/* ***************************************************** */

.symbol {
  color: var(--symbol-color-01);
}

.symbol:hover {
  cursor: pointer;
  text-shadow: 0 0 3px var(--symbol-color-02);
}



/* ***************************************************** */
/*
/* FORM STYLE
/*
/* ***************************************************** */

/* make forms the full width of their parent element */
form {
  margin: 0px;
  padding: 0px;
  display: inline;
}



/* ***************************************************** */
/*
/* STRIPE STYLE
/*
/* ***************************************************** */

.stripe-form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

#card-element input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}

.stripe-result-message {
  line-height: 22px;
  font-size: 16px;
}

.stripe-result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}

.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

#payment-request-button {
  margin-bottom: 32px;
}

/* Buttons and links */
.stripe-button {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.stripe-button:hover {
  filter: contrast(115%);
}

.stripe-button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}