{% extends 'gameplay/base.html' %}
{% load static %}
{% block content %}

<script src="https://js.stripe.com/v3/"></script>


<!-- Display a payment form -->
<form id="payment-form" class="stripe-form">
  <div id="card-element">
    <!--Stripe.js injects the Card Element-->
  </div>
  <button id="submit" class="stripe-button">
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pay</span>
  </button>
  <p id="card-error" role="alert" class="text-danger"></p>
  <p class="stripe-result-message hidden">
    Payment succeeded! <br>
    See your <a href="{% url 'gameplay_user_entries' %}">list of entries.</a>
  </p>
</form>

<script>
  var stripe = Stripe('{{ public_key }}');
  var entry_id = '{{ entry_id }}';
</script>
<script src="{% static '/js/checkout.js' %}"></script>

{% endblock content %}