{% extends 'gameplay/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-md-8 mb-3">
    <div class="card card-body">

          <h4 class="border-bottom mb-4">Munster Championship</h4>
          <table class="table table-sm">
            {% include 'gameplay/entry_table_header.html' %}
            {% for item in entry.predictions.all %}
            {% if item.fixture.region == 'M' %}
            {% include 'gameplay/entry_table_row.html' %}
            {% endif %}
            {% endfor %}
          </table>

          <h4 class="border-bottom mb-4">Leinster Championship</h4>
          <table class="table table-sm">
            {% include 'gameplay/entry_table_header.html' %}
            {% for item in entry.predictions.all %}
            {% if item.fixture.region == 'L' %}
            {% include 'gameplay/entry_table_row.html' %}
            {% endif %}
            {% endfor %}
          </table>

    </div>
  </div>
</div>

{% endblock content %}