{% extends 'gameplay/base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card card-body">
      <p>Gortnahoe-Glengoole GAA Club Presents:</p>
      <h1><b>Championship Challenge</b></h1>
      <hr>
      <br>
      <p>Predict the winners of the Munster and Leinster senior hurling championship games to be in with a chance to
        win!</p>
      <hr>
      <br>
      <h2>Prizes:</h2>
      <ul>
        <li>First Prize - €500</li>
        <li>Second Prize - €250</li>
        <li>Third Prize - €100</li>
      </ul>
      <h5>Entry Fee:</h5>
      <p>€10 (you can enter as many times as you like)</p>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card card-body">
      <p>hello!</p>
    </div>
  </div>
</div>

{% endblock %}