{% extends 'gameplay/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card card-body">

      <h4 class="border-bottom mb-4">Entries</h4>
      <table class="table table-sm">
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th></th>
        </tr>
        {% for entry in entries %}
        <tr>
          <td>{{ entry.user.first_name }} {{ entry.user.last_name }} {% if entry.entry_number > 1 %} ({{ entry.entry_number }}) {% endif %}</td>
          <td>{{ entry.points }}</td>
          <td><a class="btn btn-sm btn-info" href="{% url 'gameplay_entry' entry.id %}">View</a></td>
        </tr>
        {% endfor %}
      </table>

    </div>
  </div>
</div>

{% endblock content %}