{% extends 'gameplay/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-md-6 mb-3">
    {% include 'gameplay/sections/breadcrumbs.html' %}
    {% include 'gameplay/sections/page_heading.html' %}
    <div class="card card-body">

      <table class="table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 20%">Position</th>
            <th class="text-left" scope="col" style="width: 60%">Name</th>
            <th scope="col" style="width: 20%">Points</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
          <tr class="table_row_border_top clickable-row" data-href="{% url 'gameplay_entry' entry.id %}">
            <td scope="row">{{ entry.position }}</td>
            <td class="text-left">{{ entry.user.first_name }} {{ entry.user.last_name }} {% if entry.entry_number > 1 %}
              ({{ entry.entry_number }}) {% endif %}</td>
            <td>{{ entry.points }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

<script src="{% static 'js/entry_list.js' %}"></script>
{% endblock content %}