{% extends 'gameplay/base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <p>Gortnahoe-Glengoole GAA Club Presents:</p>
      <h1><b>Championship Challenge</b></h1>
      <hr>
      <br>
      <p>Predict the winners of the Munster and Leinster senior hurling championship games to be in with a chance to
        win!</p>
      <hr>
      <br>
      <h2>Prizes:</h2>
      <ul>
        <li>First Prize - €500</li>
        <li>Second Prize - €250</li>
        <li>Third Prize - €100</li>
      </ul>
      <h5>Entry Fee:</h5>
      <p>€10 <small>(you can enter as many times as you like)</small></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body">
      <h3>Rules</h3>
      <hr>
      <p><b>Pick a winner or draw for each game in the Munster and Leinster championship round robin.</b></p>
      <p><b>Also pick the finalists, the champions and the top scorer from play in both championships.</b></p>
      <ul>
        <li>Predict a win - <b>5 points</b> per game</li>
        <li>Predict a draw - <b>10 points</b> per game</li>
        <li>Predict finalists - <b>15 points</b> per finalist</li>
        <li>Predict champions - <b>25 points</b> per champion</li>
        <li>Predict top scorer and amount scored (from play) - <b>20 points</b> per correct player*</li>
        <small>*In case of a tie break, the amount scored will also be taken into account</small>
      </ul>
    </div>
    {% if user.is_authenticated == False %}
    <div class="card card-body">
      <h5><a href="{% url 'account_signup' %}">Register</a> now to enter your prediction.</h5>
      <h6>Or <a href="{% url 'account_login' %}">Login</a> if you already have an account.</h6>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}