{% extends 'gameplay/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-md-6 mb-3">
    {% include 'gameplay/sections/breadcrumbs.html' %}
    {% include 'gameplay/sections/page_heading.html' %}

    {% for region in regions %}
    <div class="card card-body">
      <h4 class="mb-4">{{ region.label }} Championship</h4>
      <table>
        {% include 'gameplay/sections/table_header_matches.html' %}
        <tbody>
          {% for match in matches %}
          {% if match.fixture.region == region %}
          {% include 'gameplay/sections/table_row_matches.html' %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock content %}